* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #010409;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #8E2DE2;
}

.inputSearch {
    outline: none;
    border: .1rem solid gray;
    background: transparent;
}

@media screen and (min-width: 320px) {
    .main-img {
        width: 90%;
    }
}

@media screen and (min-width: 768px) {
    .main-img {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .main-img {
        width: 30%;
    }
}

.weatherNum {
    font-size: 2.5rem;
}

.btn {
    background-color: #4A00E0;
    color: white;
}
